entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["sh", "-c", "cd client && npm run build"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45623068
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 5000
externalPort = 80
